<h1 class="text-center">Listing Tables</h1>

<% if @tables.blank? %>
  <h2>You dont have tables</h2>
<% else %>
  <div class="row">
    <% @tables.each do |table| %>
      <div class="col-sm-3">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Table number: <span class="badge badge-danger"><%= table.number %></span></h5>
            <p class="card-text">Number of seats: <span class="badge badge-info"><%= table.num_seats %></span></p>
            <a href="#" class="btn btn-primary">Reservations</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>

<br>

<%= link_to 'Create Table', new_table_path(:restaurant_id => @restaurant.id), class: "btn btn-block btn-primary" %>
<br>
<%= link_to 'Back', restaurants_path(:restaurant_id => @restaurant.id), class: "btn btn-primary" %>